/* import font */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
body {
  margin: 0px;
}

/* cloud background style */
.bgCloud {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
/* cloud background animation */
.cloud-intro {
  position: relative;
  height: 100%;
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0
      200px,
    url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
    url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px
      250px;
  animation: wind 20s linear infinite;
}
@keyframes wind {
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}

/* main content style */
.content {
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-content: center;
}

/* quiz container style */
.quizBox {
  width: 80vw;
  height: 80vh;
  background-color: rgba(238, 242, 243, 0.8);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
  border: 2px gray solid;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

/* style progress line */
.progress {
  margin: 0px 50px 50px 50px;
  height: 1.5rem;
  border: solid 2px rgb(13, 202, 240);
}

/* add background to flex row */
.rowBg {
  margin: 0 10px;
  border: solid 1px gray;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}

/* add background to row column */
.colBg {
  margin: 5px;
  border: solid 1px gray;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  min-height: 2.5rem;
}

/* style for derail name */
.detail {
  background-color: rgba(128, 128, 128, 0.2);
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* style for derail text */
.detailInfo {
  width: 100%;
}

/* style for quiz text */
.quiz {
  margin: 25px 10px;
}
.quizColBg {
  margin: 5px;
  border: solid 1px gray;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  display: grid;
  padding: 0;
  min-height: 2.5rem;
}

/* style answer box */
.colBgAnswer {
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 50px;
  min-height: 30vh;
}
.answer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.answer .answerChek {
  margin: 5px;
  font-size: 18px;
  font-weight: 600;
}
.btnAnswerChek {
  font-size: 18px;
  font-weight: 600;
  width: 70%;
}

/* quiz setting container style */
.quizSetting {
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
}

/* welcome text style and animation */
.welcomeBox {
  position: absolute;
  width: 60vw;
  height: 20vh;
  top: 15%;
}
svg {
  font: 30vmax Ubuntu;
  letter-spacing: 0.15em;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}
svg text {
  fill: #111;
  stroke: #111;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 3s ease-out;
}
@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    stroke-width: 10px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    stroke-width: 10px;
  }
  100% {
    stroke-width: 0;
  }
}

/* style for input form box */
.quizSettingBox {
  width: 60vw;
  height: 60vh;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  justify-content: center;
}
.quizSettingBoxInput {
  margin-top: 15%;
  width: 80%;
  text-align: center;
}

.quizSettingBoxInput button {
  font-size: 1.5em;
  font-weight: 700;
}

/* correct answer animaeion */
.correct {
  position: absolute;
  top: 15%;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 35vmax;
  height: 35vmax;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.correctCircle {
  position: relative;
  border-radius: 50%;
  width: 70%;
  height: 70%;
  box-shadow: inset 0 0 0 2px #198754;
  animation: filling 0.2s ease-in 0.8s forwards;
}
.cover1,
.cover2 {
  position: absolute;
  overflow: hidden;
  width: 50%;
  height: 100%;
}
.cover1 {
  left: 50%;
}
.cover1:before,
.cover2:before {
  position: absolute;
  content: "";
}
.cover1:before {
  width: 100%;
  height: 200%;
  background: #ffffff;
  transform-origin: 0 25%;
  animation: draw 0.3s linear forwards;
}
.cover2:before {
  left: -10%;
  width: 110%;
  height: 120%;
  background: #ffffff;
  transform-origin: 100% 40%;
  animation: draw 0.3s ease-out 0.3s forwards;
}
.correctMark {
  position: absolute;
  color: #ffffff;
  width: 100%;
  height: 100%;
  font-size: 10rem;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: check 0.3s ease-in-out 0.9s forwards;
}
@keyframes draw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes filling {
  0% {
    box-shadow: inset 0 0 0 9px #198754;
  }
  100% {
    box-shadow: inset 0 0 0 250px #198754;
  }
}
@keyframes check {
  0% {
    transform: scale(0.5) rotate(30deg);
    opacity: 0;
  }
  90% {
    transform: scale(1.3) rotate(-15deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

/* hidden box */
.hiddenBox {
  display: none;
}
